/* mobile */
#navbar {
	width: 100%;
	text-align: center;
}

#navbar header {
	padding: 5px;
}

.nav-link {
	display: block;
	border-top: 1px solid black;
	padding: 5px;
}

header {
	font-weight: bold;
}

main {
	margin: 20px;
}

/* desktop */
@media screen and (min-width: 720px) {
	#navbar {
		width: 200px;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		border-right: 1px solid black;
	}

	.nav-link {
		display: block;
	}

	main {
		margin-left: 220px;
	}
}