/* mobile */
body {
	font-family: sans-serif;
}

header {
	font-size: large;
	font-weight: 900;
}

#navbar {
	text-align: center;
	border: 1px solid black;
}

#nav-title {
	border: 1px solid black;
}

#main-doc {
	padding: 20px;
}

.nav-link {
	display: block;
	border: 1px solid black;
	padding: 8px;
	text-decoration: none;
}

/* desktop */
@media screen and (min-width: 720px) {
	#navbar {
		width: 200px;
		position: fixed;
	}
	
	#main-doc {
		padding-left: 220px;
	}
}
